  <header class="page-header">
        <nav class="main-nav">
           <ul>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Try Demo</a></li>
                <li><a href="#">Request Free Trial</a></li>
           </ul>
        </nav>
    </header>
      <nav class="section-nav">
                    <ul>
                        <li><a routerLink="/home">Home</a></li>
                        <li><a routerLink="/contact">Contacts</a></li>
                        <li><a routerLink="/about">About</a></li>
                    </ul>
                </nav>
    