<h1 class="page-title">Welcome to Contact Management</h1>
    <main class="page-main">
        <section>
            <div class="content-container">
              
                <!-- Your main content would go here -->

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ducimus, modi ab ad harum quas ea, mollitia nemo, consequatur animi quos error voluptates nisi? Quibusdam delectus tempore ullam quia quo.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur voluptatibus deserunt suscipit et, inventore recusandae iusto aut aliquam, possimus similique libero expedita consequatur a, sapiente mollitia. Atque repellendus itaque iusto?
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt laudantium aperiam accusantium tenetur ad ullam alias non sapiente molestias illo fugiat qui magnam, animi omnis ab et. Repellendus, consequuntur ipsam.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic minus tempora officia reiciendis, provident quia aut cupiditate qui ducimus a dolorum labore deleniti vel accusamus, consequatur voluptas expedita enim natus?
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid distinctio, nemo quia harum soluta ad eveniet architecto aliquam corrupti quo quod accusantium, perspiciatis, vero dolorem nam assumenda ducimus vel eaque.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo mollitia ex ipsum repellat nemo rerum? Reprehenderit nemo quos ut, illum libero expedita quod pariatur, rerum a iste sit architecto sequi!
                </p>
            </div>
        </section>
    </main>

  